PORT=8000
MONGODB_URI=mongodb+srv1io1j5.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=Tahjib@75&DevBlog&With@Nodejs2nd
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=DevLearning75@blogjsNodeScriptJavamongooseExpress&nodemon
REFRESH_TOKEN_EXPIRY=10d

EXPRESS_SESSION_SECRET=7fdOMCFRSLD9cv1k-50ogR80-zh9kx0Mkx # ok to change



AWS_ACCESS_KEY_ID=AKIAV2KL7
AWS_SECRET_ACCESS_KEY=FSaNVYoQA2cATCS3
AWS_REGION=ap-southeast-1
S3_BUCKET_NAME=mlbd-tahjib


## SSO
GOOGLE_CLIENT_ID=5739googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPK_pJ2Xlsp
GOOGLE_CALLBACK_URL=http://localhost:1337/api/sessions/oauth/google



# ################ ENV VARS TO REDIRECT WHEN USER SIGNS UP THROUGH ANY OF THE SSOs #################
CLIENT_SSO_REDIRECT_URL=http://localhost:3000/user/profile # Frontend url where backend should redirect when user is successfully logged in through the Google/Github SSO
# ################ ENV VARS TO REDIRECT WHEN USER SIGNS UP THROUGH ANY OF THE SSOs #################